.explanation {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin-bottom: 50px;
}

.explanation img {
    position: relative;
    width: 500px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.explanation h2 {
    background-color: #f1c343;
    text-align: center;
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.caution {
    margin-top: 8px;
    position: relative;
    text-align: left;
    padding-left: 50px;
}

.explanation-text {
    text-align: left;
}
.explanation h2, .explanation-text {
    position: relative;
    line-height: 1.5em;
    padding-left: 50px;
    padding-right: 50px;
}

.explanation-text h3::after {
    content: "";
    display: block;
    height: 4px;
    margin-top: 5px;
    background: -webkit-gradient(to right, rgb(230, 90, 90), transparent);
    background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

.explanation .explanation-text h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.explanation-text a {
    color: #fb9000;
}

@media (max-width: 800px) {
    .explanation {
        align-items: center;
    }

    .explanation .img {
        max-width: 300px;
        align-items: center;
    }
    .explanation h2, .explanation-text {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .explanation .explanation-text p {
        text-align: left;
    }

    .explanation-text h3::after {
        background: -webkit-gradient(to right, transparent, rgb(230, 90, 90), transparent);
        background: linear-gradient(to right, transparent, rgb(230, 90, 90), transparent);
    }
}