.explanation {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.explanation img {
    position: relative;
    width: 500px;
}

.explanation h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.explanation h2, .explanation-text {
    position: relative;
    text-align: left;
}

.explanation .explanation-text h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.explanation .explanation-text ul li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.explanation-text a {
    color: #fb9000;
}

@media (max-width: 800px) {
    .explanation .img {
        max-width: 300px;
    }
    .explanation h2, .explanation-text {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .explanation .explanation-text p {
        text-align: left;
    }
}