.ranking {
    counter-reset: rank;
    list-style-type: none;
}

.rank1 li::before {
    content: counter(rank) "ä½";
    color: #bf0000;
    font-weight: 700;
    line-height: initial;
}
