main {
    background-color: #ffffff;
    padding-top: 45px;
    padding-bottom: 55px;
    padding: 20px;
    
}

.title {
    background-color: #f1c343;

    margin-left: -20px;
    margin-right: -20px;
}

h1 {
    padding-top: 45px;
    padding-bottom: 55px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h1::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1>p {
    font-size: 30px;
}

h1>ul>li {
    font-size: 30px;
    display: inline;
    list-style: none;
}

h2 {
    position: relative;
    padding: 0.25em 0;
}

h2::after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-gradient(to right, rgb(230, 90, 90), transparent);
    background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

h2>p{
    font-size: 20px;
}

.havimage {
    width: 50%;
    height: 50%;
    position: relative;
    left: 450px;
    bottom: 400px;
    margin-bottom: -400px;
}

.rank {
    counter-reset: rank;
    line-height: 2.0;
    
    
  }
  

.rank li span {
    font-weight: bold;
}

  .rank li::before {
    counter-increment: rank;
    content: counter(rank) "ä½";
    padding-right: 10px;
    
  }


h3>img {
    width:3%;
    height: 3%;
}
 
  
 